{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-custom" style="background-color: #28a745;">
                    <h3 class="card-title text-white">Confirmación reserva</h3>
                </div>
                <div class="card-body">
                    <ul class="custom-list">
                        <li><strong>Origen:</strong> {{ viaje.origen }}</li>
                        <li><strong>Destino:</strong> {{ viaje.destino }}</li>
                        <li><strong>Fecha:</strong> {{ viaje.fecha }}</li>
                        <li><strong>Hora:</strong> {{ viaje.hora }}</li>
                        <li><strong>Tiempo:</strong> {{ viaje.tiempo }} minutos</li>
                        <li><strong>Tarifa:</strong> {{ viaje.tarifa }}€</li>
                        <li><strong>Plazas disponibles:</strong> {{ viaje.plazas }}</li>
                        <li><strong>Conductor:</strong> {{ viaje.conductor.nombre }}</li>
                        <li><strong>Coche:</strong> {{ viaje.conductor.coche.marca }} {{ viaje.conductor.coche.marca }} ({{ viaje.conductor.coche.anno }}): {{ viaje.conductor.coche.color }}</li>
                    </ul>
                    <div class="text-center">
                        <form action="{{ url_for('reservar.actualizar_viaje') }}" method="POST">
                            <input type="hidden" name="viaje_id" value="{{ viaje.id }}">
                            <button class="btn btn-success btn-actualizar" type="submit">Reservar Viaje</button>
                        </form>
                    </div>
                </div>
                <div class="card-footer text-center bg-custom text-white" style="background-color: #28a745;">
                    <a href="{{ url_for('home.home_route') }}" class="text-white">Volver a ver viajes</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<style>
    .card-header {
        background-color: #28a745;
    }

    .card-title {
        text-align: center;
        font-weight: bold;
        color: white;
    }

    .card-footer {
        background-color: #28a745;
        color: white;
    }

    a {
        color: white;
    }

    .bg-custom {
        background-color: #28a745;
    }

    .custom-list {
        list-style: none;
        padding-left: 0;
    }

    .custom-list li {
        margin-bottom: 5px;
    }

    .btn-actualizar {
        background-color: #28a745;
        border-color: #28a745;
        align-content: center;
    }
</style>
