{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="text-left mt-4">
        <a href="{{ url_for('publicar.publicar_route') }}" class="btn btn-success">Publicar Viaje</a>
    </div>

    <div class="accordion" id="viajesAccordion">
        {% if lista_viajes %}
            {% for viaje in lista_viajes %}
            <div class="card">
                <div class="card-header" id="heading{{ loop.index }}">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{ loop.index }}">
                            {{ viaje.origen }} - {{ viaje.destino }}
                        </button>
                    </h2>
                </div>
                <div id="collapse{{ loop.index }}" class="collapse" data-parent="#viajesAccordion">
                    <div class="card-body">
                        <ul>
                            <li>Fecha: {{ viaje.fecha }}</li>
                            <li>Hora: {{ viaje.hora }}</li>
                            <li>Tiempo: {{ viaje.tiempo }}</li>
                            <li>Tarifa: {{ viaje.tarifa }}€</li>
                            <li>Plazas disponibles: {{ viaje.plazas }}</li>
                            <li>Conductor: {{ viaje.conductor.nombre }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>No hay viajes disponibles</p>
        {% endif %}
    </div>
</div>
{% endblock %}
