{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-custom" style="background-color: #28a745;">
                    <h3 class="card-title text-white">Valorar viaje</h3>
                </div>
                <div class="card-body">
                    <form method="POST">
                        <input type="hidden" name="viaje_id" value="{{ viaje.id }}">
                        <div class="text-center">
                            <h1>Valorar a: {{ viaje.conductor.nombre }}</h1>
                        </div>
                        <div class="mb-3 text-center">
                            <label for="rating" class="form-label">Valoración:</label>
                            <select class="form-select" id="rating" name="rating">
                                <option value="5">5 - Excelente</option>
                                <option value="4">4 - Muy bueno</option>
                                <option value="3">3 - Bueno</option>
                                <option value="2">2 - Regular</option>
                                <option value="1">1 - Malo</option>
                            </select>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-success btn-registrarse">Valorar viaje</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center bg-custom text-white" style="background-color: #28a745;">
                    <a href="{{ url_for('home.home_route') }}" class="text-white">Volver a ver viajes</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
